<div
  class="flex flex-col place-content-between items-center w-full h-full border-8 border-darkbrown"
>
  <div class="flex items-center justify-center h-[10%] w-full bg-lightbrown min-h-[65px]">
    <top-bar></top-bar>
  </div>

  <div
    class="flex flex-grow justify-center items-center w-full h-[10%] min-h-[65px] bg-lightbrown border-t-8 border-darkbrown"
  >
    <h1 class="text-5xl text-lightyellow ">lago</h1>
  </div>
  <div
    class="bg-[url('/Land-Background.gif')] border-t-8 border-darkbrown bg-cover bg-no-repeat h-full w-full"
  >
</div>

  <router-outlet></router-outlet>
</div>
