<section class="flex flex-col w-full bg-lightbrown h-full items-center">
  <div class="flex flex-1 flex-col justify-center items-center w-full border-b-8 border-t-8 border-r-8 border-darkbrown">
    <h3>Na vara do Jeremias</h3>
  </div>
  <div class="flex flex-[10.8] justify-center w-full border-b-8 border-r-8 border-darkbrown">
    <ul>
      <li *ngFor="let item of itens">
        <h3>{{ item.nome }}</h3>
        <p>{{ item.descricao }}</p>
        <p><strong>Preço:</strong> {{ item.preco }} moedas</p>
        <button (click)="comprar(item)">Comprar</button>
      </li>
    </ul>
  </div>
</section>
