<div class="flex justify-center h-screen w-full">
  <div
    class="flex flex-1 flex-col items-center bg-sky-100 h-full w-full"
  >
    <h1>Left</h1>

    <!-- <app-painel-pesca></app-painel-pesca> -->
    <!--tela de pesca-->
  </div>

  <!--Conteúdo central-->
  <!-- Conteúdo -->
      <div class="flex items-center justify-center h-auto bg-lightbrown  w-[60%]  border-8 border-darkbrown ">
    <top-bar class="w-full h-full"></top-bar>
  </div>
  

  <div
    class="flex flex-1 flex-col items-center bg-sky-100 h-full w-full overflow-hidden "
  >
    <app-shop-panel class="flex w-full h-full justify-center"></app-shop-panel>
  </div>
</div>
