<div class="flex justify-center h-screen w-full">
  <div
    class="flex flex-1 flex-col items-center bg-sky-100 h-full w-full"
  >
    <h1>Left</h1>

    <!-- <app-painel-pesca></app-painel-pesca> -->
    <!--tela de pesca-->
  </div>

  <!--Conteúdo central-->
  <div class="w-[1000px] h-full min-h-[500px]">
    <app-lake></app-lake>
  </div>

  <div
    class="flex flex-1 flex-col items-center bg-sky-100 h-full w-full "
  >
    <app-shop-panel class="flex w-full h-full justify-center"></app-shop-panel>
  </div>
</div>
