<!-- tela-principal.component.html -->
<nav class="top-bar flex justify-center items-center h-[10%] gap-4 text-lightyellow  border-b-8 border-darkbrown">
  <a routerLink="/jogo/mapa" routerLinkActive="ativo">Mapa</a>
  <a routerLink="/jogo/mundos" routerLinkActive="ativo">Mundos</a>
  <a routerLink="/jogo/status" routerLinkActive="ativo">Status</a>
  <a routerLink="/jogo/inventário" routerLinkActive="ativo">Inventário</a>
  <a routerLink="/jogo/enciclopedia" routerLinkActive="ativo">Enciclopédia</a>
</nav>

<div class="conteudo-central w-full h-full overflow-hidden">
  <router-outlet class=""></router-outlet>
</div>
